<!DOCTYPE html>
<html>
    <head>
        <title>CloudCore - Create column</title>
        <script>
            var tablename;

            async function createcolumn() {
                var name = document.querySelector('#columnname').value;
                var datatype = document.querySelector('#datatype').value;
                await fetch('/api/schema/columns/' + tablename + '/' + name + '/' + datatype, { method: 'POST' });
                location.href = 'columns.html' + location.search;
            }

            window.addEventListener('load', () => {
                tablename = location.search.substring(1);
                document.querySelector('#tablename').innerHTML = tablename;
                document.querySelector('div').innerHTML = '<a href="columns.html' + location.search + '">&lt Columns</a>';
            });

        </script>
    </head>
    <body>
        <div></div>
        <table>
            <tr>
                <th>Table</th>
                <td id="tablename"></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><input id="columnname"/></td>
            </tr>
            <tr>
                <th>Datatype</th>
                <td>
                    <select id="datatype">
                        <option value="integer">INTEGER</option>
                        <option value="varchar" selected>VARCHAR</option>
                    </select>
                </td>
            </tr>
        </table>
        <div>
            <button onclick="createcolumn();">Create column</button>
        </div>
    </body>
</html>